.block-container {
  width: 310px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0 20px;
  cursor: pointer;

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: white;
    border: 1px solid black;
    margin: 2px;
  };
};
